<app-back-button></app-back-button>
<div class="pokemon-info-container" *ngIf="pokemonInfo">
  <div class="pokemon-img-container">
    <img src="{{ pokemonInfo.sprites.front_default }}" width="100%" />
  </div>
  <div class="pokemon-details-container">
    <h1>
      {{ pokemonInfo.name }}&nbsp;<span class="pokemon-order-text"
        >#{{ pokemonInfo.order }}</span
      >
    </h1>
    <div>
      <span class="pokemon-detail-title">Types:</span>
      <button
        *ngFor="let type of pokemonInfo.types"
        class="{{ type.type.name }}-chip chip"
      >
        {{ type.type.name }}
      </button>

      &nbsp; &nbsp;

      <span class="pokemon-detail-title">Abilities:</span>
      <button
        *ngFor="let ability of pokemonInfo.abilities"
        class="chip ability-chip"
      >
        {{ ability.ability.name }}
      </button>

      &nbsp; &nbsp;

      <span class="pokemon-detail-title">Height:</span>
      <button class="chip height-chip">{{ pokemonInfo.height / 10 }} kg</button>

      &nbsp; &nbsp;

      <span class="pokemon-detail-title">Weight:</span>
      <button class="chip weight-chip">{{ pokemonInfo.weight / 10 }} kg</button>
    </div>

    <h2>Experience: {{ pokemonInfo.base_experience }}</h2>

    <div>
      <h2 class="pokemon-detail-title">Base stats</h2>
      <div class="progress-bar" *ngFor="let progress of pokemonInfo.stats">
        <button
          class="{{ progress.stat.name }}-progress progress"
          [style.width.%]="progress.base_stat"
        >
          {{ progress.stat.name }}: {{ progress.base_stat }}
        </button>
      </div>
    </div>
  </div>
</div>
