.pokemon-info-container {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.pokemon-order-text {
  color: #b9b9b9;
}

.pokemon-img-container {
  width: 10%;
  float: left;
}
.pokemon-details-container {
  width: 90%;
  float: right;
}
.pokemon-detail-title {
  color: #b9b9b9;
  font-weight: 700;
}
.chip {
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  border: none;
  padding: 4px 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ability-chip {
  color: #2a2a2a;
}
.height-chip {
  color: #2a2a2a;
}
.weight-chip {
  color: #2a2a2a;
}
.normal-chip {
  background: #ada58c;
}
.fighting-chip {
  background: #ff7755;
}
.flying-chip {
  background: #c955ff;
}
.poison-chip {
  background: #6e24e6;
}
.ground-chip {
  background: #e6b924;
}
.rock-chip {
  background: #5c5746;
}
.bug-chip {
  background: #7d9900;
}
.ghost-chip {
  background: #000f99;
}
.steel-chip {
  background: #8a8dbd;
}
.fire-chip {
  background: #ff3527;
}
.water-chip {
  background: #27bbff;
}
.grass-chip {
  background: #1aca46;
}
.electric-chip {
  background: #ebb110;
}
.psychic-chip {
  background: #eb10a9;
}
.ice-chip {
  background: #27dfff;
}
.dragon-chip {
  background: #ff5927;
}
.dark-chip {
  background: #3b2d28;
}
.fairy-chip {
  background: #ff24bd;
}
.unknown-chip {
  background: #000000;
}
.shadow-chip {
  background: #3f3f3f;
}

.progress-bar {
  width: 80%;
  height: 30px;
  margin: 15px 0px;
  border-radius: 4px;
}
.progress-bar:first-child {
  border-top: 0;
}
.progress-bar:last-child {
  border-bottom: 0;
}
.progress-bar .progress {
  text-transform: capitalize;
  text-align: left;
  font-weight: 800;
  border: none;
  height: 100%;
  background: #000;
  color: #fff;
  border-radius: 4px;
}
.progress-bar .speed-progress {
  background: linear-gradient(-45deg, #ffa946, #ff7b46);
}
.progress-bar .defense-progress {
  background: linear-gradient(-45deg, #ff7146, #ff6246);
}
.progress-bar .special-defense-progress {
  background: linear-gradient(-45deg, #ff7146, #ff6246);
}
.progress-bar .attack-progress {
  background: linear-gradient(-45deg, #7e46ff, #6246ff);
}
.progress-bar .special-attack-progress {
  background: linear-gradient(-45deg, #7e46ff, #6246ff);
}
.progress-bar .hp-progress {
  background: linear-gradient(-45deg, #46a6ff, #4668ff);
}
