<div
  class="pokemon-card"
  routerLink="/pokemon/{{ pokemonData.name }}/{{ pokemonData.id }}"
>
  <img src="{{ pokemonData.sprites.front_default }}" class="pokemon-img" />
  <h3 class="pokemon-exp">{{ pokemonData.base_experience }}</h3>
  <h4 class="pokemon-name">{{ pokemonData.name }}</h4>
</div>
