.pokemon-card {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.pokemon-card:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.pokemon-card .pokemon-img {
  min-width: 96px;
  min-height: 96px;
}
.pokemon-card .pokemon-exp {
  margin-top: -10px;
  color: #0a6ce3;
}
.pokemon-card .pokemon-name {
  margin-top: -10px;
  color: #242424;
}
