<input
  type="text"
  placeholder="Search for a pokemon"
  class="nav-search-box"
  [(ngModel)]="searchTerm"
/>
<div class="nav-search-result-container" *ngIf="searchTerm.length > 2">
  <div class="nav-search-result-list">
    <div class="nav-search-result-list-img-container">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
        class="nav-search-result-list-img"
      />
    </div>
    <div class="nav-search-result-list-text-container">
      <h3 class="pokemon-name">Bulbasaur</h3>
    </div>
  </div>
</div>
