.nav-search-box {
  margin: 0px 20px;
  height: 15px;
  width: 250px;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.nav-search-box:focus {
  outline: none;
  width: 280px;
}
.nav-search-box::placeholder {
  font-family: "Segoe UI";
  color: #fff;
  font-weight: 600;
}

.nav-search-result-container {
  position: absolute;
  margin-left: 20px;
  margin-top: 12px;
  width: 320px;
  min-height: 60px;
  max-height: 250px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.nav-search-result-list {
  width: 100%;
  max-height: 60px;
}
.nav-search-result-list-img-container {
  text-align: center;
  height: 60px;
  width: 25%;
  float: left;
}
.nav-search-result-list-text-container {
  height: 60px;
  width: 75%;
  float: right;
}
.nav-search-result-list-img {
  height: 60px;
}
.pokemon-name {
  color: #2a2a2a;
  vertical-align: middle;
}
.divider {
  height: 5px;
  background: rgb(250, 0, 0);
}
