.toolbar {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background: linear-gradient(#0c3cd8, #098eeb);
  color: white;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar .toolbar-title {
  font-family: "Pokemon Solid";
  color: #ffdf30;
  text-shadow: -2px 0 #097aca, 0 2px #097aca, 2px 0 #097aca, 0 -2px #097aca;
  letter-spacing: 0.14em;
  vertical-align: middle;
  font-size: 1.5rem;
  cursor: pointer;
}

.toolbar img {
  width: 65px;
  margin: 40px 10px 0px 40px;
  cursor: pointer;
}
