.back-btn {
  background: transparent;
  color: #0a6fe3;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 45px;
  width: 80px;
  height: 80px;
}
.back-btn:hover {
  background: rgba(10, 111, 227, 0.1);
}
.back-btn:active {
  background: rgba(10, 111, 227, 0.2);
}
