html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
* {
  outline: none;
}

@font-face {
  font-family: "Pokemon Solid";
  src: url("/assets/fonts/pokemon/Pokemon\ Solid.ttf");
}
@font-face {
  font-family: "Pokemon Hollow";
  src: url("/assets/fonts/pokemon/Pokemon\ Hollow.ttf");
}
